
<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">

        @*<img src="/img/logo_light.png" alt="" style="height: 40px; width: 177px;">*@

        <!-- mini logo for sidebar mini 50x50 pixels-->
        <span class="logo-mini"><b>Smart</b>Transaction</span>

        <!-- logo for regular state and mobile devices-->
        <span class="logo-lg"><b>Smart</b>Transaction</span>


    </a>

    @await Html.PartialAsync("_MenuBar")
</header>
